body {
    background-color:rgb(245, 240, 240);
    display: flex;
    justify-content: center;    
}

.corpo h1{
    margin: 0;
    font-size: 38.5px;
    color: rgb(85, 81, 81);
}

.navegacao {

    display: inline-block;
    margin-top: 1.5em;
    margin-left:10em;
    
}

.navegacao a {
    margin-left:0.5em;
    line-height: 1.5em;
    font-size: x-large;
    text-decoration: none;
    color: rgb(163, 159, 159);
}

.navegacao a:hover {
    color: rgb(58, 57, 57);
    width:105%;
}

.navegacao img {
    height: 20px;
    width: 20px;
}