@font-face {
    font-family: 'Existence-Light';
    src: url('fonts/Existence-Light.otf');
}

body {
    background-color:rgb(209, 209, 209);
    font-family: 'Existence-Light';
}
 
header {
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.botoes-cabecalho a{
    margin-left: 1em;
    font-size: 1.5em;
    color: rgb(87, 87, 87);
    letter-spacing: 0.06em;
    text-shadow: 0.05em 0.05em lavenderblush;
}

.botoes-cabecalho li{
    list-style: none;
    float: left;
}

label {
    font-weight: bold;
}

form >div >div{
    padding: 20px;
    /* border: 1px solid rgb(240, 240, 240) */
}

.genero{
    display: inline-block;
    /* margin-bottom: 5em; */
}

input {
    width: 30%;
    padding: 0.5em;
}

.voltar{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: rgb(87, 87, 87);
    letter-spacing: 0.06em;
    text-shadow: 0.05em 0.05em lavenderblush;
}

.voltar:hover {
    color: rgb(58, 57, 57);
}

a:hover {
    color: rgb(255, 0, 200);
}