@font-face {
    font-family: 'Existence-Light';
    src: url('fonts/Existence-Light.otf');
}

body {
    background-color:rgb(209, 209, 209);
    font-family: 'Existence-Light';
}
 
header {
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.botoes-cabecalho a{
    margin-left: 1em;
    font-size: 1.5em;
    color: rgb(87, 87, 87);
    letter-spacing: 0.06em;
    text-shadow: 0.05em 0.05em lavenderblush;
}

.botoes-cabecalho li{
    list-style: none;
    float: left;
}

table {
    margin-top: 3em;
    width: 100%;
}

table, th, td {
    border: 1px solid rgb(51, 51, 51);
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}


th {
    font-size: 14pt;
    font-family: Tahoma;
}

tbody tr:hover {
    background-color: rgb(255, 185, 239);
}

thead tr:hover {
    background-color: rgb(255, 113, 222);
}

tbody tr:nth-child(odd) {
    background-color: rgb(161, 161, 161);
}

tbody tr:nth-child(odd):hover{
    background-color: rgb(255, 107, 220);
}

tbody tr td {
    text-align: center;
}

caption {
    font-size: 20pt;
    font-family: Tahoma;
    font-weight: bold;
}

.voltar{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: rgb(87, 87, 87);
    letter-spacing: 0.06em;
    text-shadow: 0.05em 0.05em lavenderblush;
}

.voltar:hover {
    color: rgb(58, 57, 57);
}

a:hover {
    color: rgb(255, 0, 200);
}